# Temporary files
*~

# Articles
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.rtf

# Figures
*.pdf
*.pyc

# Animations
*.gif
*.png
*.mp4
*.ogg

# Data
data/processed
data/external
data/satellite/*.csv
*.nc
*.tif
